# Backend Python dependencies
fastapi
uvicorn[standard]
pydantic
numpy
pandas
scikit-learn
joblib
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-dotenv
cryptography
requests
google-generativeai
